[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
klibs = {git = "https://github.com/a-hurst/klibs.git", ref = "b18cd940ac4317c9ee72d30839e8311914d95e37"}
pyusb = "*"
libusb_package = "*"

[requires]
python_version = "3.9"

[scripts]
